<div
  class="w-120 h-64 mx-auto from-blue-50 via-gray-50 to-white p-6 rounded-lg hover:shadow-lg hover:scale-105 transition transform">
  <div class="flex flex-col items-center">
    <div class="w-24 h-24 from-gray-100 to-gray-300 rounded-full flex items-center justify-center mb-4">
      <fa-icon [icon]="getIcon()" class="text-4xl text-blue-600"></fa-icon>
    </div>
    <h2 class="text-2xl font-semibold text-gray-700 mb-2">{{ title }}</h2>
    <p class="text-gray-500 text-center">{{ description }}</p>
  </div>
</div>